.margin16

    div.press-here-for-qr-code
        i.fa.fa-hand-o-up
        label scan a qr code

    input(name="recipient"
          type="text"
          placeholder="type ripple account or scan qr code")#account-input
    label recipient account


    input(name="amount"
          type="number"
          pattern="[0-9+]*"
          placeholder="0")#amount-input
    label amount to pay

    div.disabled-fields.hidden
      input(name="currency"
            type="text"
            placeholder="currency"
            disabled)#currency-input
      label currency

      input(name="destination-tag"
            type="text"
            placeholder="destination tag"
            disabled)#dt-input
      label destination tag

      input(name="invoice-id"
            type="text"
            placeholder="invoice id"
            disabled)#invoice-id-input
      label invoice id

