.margin16

    div.press-here-for-qr-code
        i.fa.fa-hand-o-up
        label scan a qr code

    div
      input(name="recipient"
            type="text"
            placeholder="type ripple account or scan qr code")#account-input
      label recipient account


    div
      input(name="amount"
            type="number"
            step="0.00000001"
            placeholder="0")#amount-input
      label amount to pay

    div.disabled-fields.hidden
      input(name="currency"
            type="text"
            placeholder="currency"
            disabled)#currency-input
      label currency

      input(name="destination_tag"
            type="number"
            step="1"
            placeholder="destination tag"
            disabled)#dt-input
      label destination tag

